a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.footer {
  background-color: rgba(209, 209, 209, 0.8);
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  padding: 0;

}

.footer-nav li {
  height: inherit;
  list-style-type: none;
  display: flex;
}

.footer-nav li a {
  margin: auto 0 auto 0;
  color: white;
  font-size: 1rem;
  padding: 0.8rem 1rem;
}

.footer-nav ul li a:hover {
  color: greenyellow;
}

@media only screen and (max-width: 767px) {
  #header {
    width: 100%;
  }

  .footer {
    display: none;
  }
}
