.background {
  width: 100vw;
}

.wrapper {
  position: relative;
  background: #f7f7f7;
  height: 65vw;
}

.about-button {
  height: 2.5rem;
  width: 8rem;
  border-radius: 7px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  font-size: larger;
}

.about-button {
  color: #494949 !important;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.about-button:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

@media only screen and (max-width: 767px) {
  .about-button {
    height: 1.8rem;
    width: 7rem;
    font-size: smaller;
  }
}

@media only screen and (max-width: 424px) {
  .about-button {
    font-size: smaller;
  }
}

.content {
  position: absolute;
  width: 38vw;
  right: 9vw;
  top: 4vw;
}

p {
  font-size: 1.8vw;
  margin: 2vw 0;
}
